* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(imagens/fundo_gibi.png);
    background-size: contain;
    overflow: hidden;
}

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.cards .card {
    position: relative;
    width: 351px;
    height: 348px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.cards .imagem1 {
    background-image: url(imagens/Eu.jpeg);
    background-size: cover;
}

.cards .imagem2 {
    background-image: url(imagens/esporte.png);
    background-size: cover;
}

.cards .imagem3 {
    background-image: url(imagens/imagemTech.jpg);
    background-size: cover;
}

.cards .imagem4 {
    background-image: url(imagens/nextStep.png);
    background-size: contain;
}

.cardImagem:hover {
    background-image: none;
}

.cards .card .content {
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.cards .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.cards .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.399);
    pointer-events: none;
}

.cards .card .content h3 {
    font-size: 1.8em;
    color: rgb(254, 253, 253);
    z-index: 1;
}

.cards .card .content p {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
}

.cards .card .content a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


#ultimaEscolha,
#hobbs,
#trajetoria,
#sobremim {
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 15px rgba(255, 248, 248, 0.5);
    margin: 20px;
}


.saudacoes{
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    font-size: 15px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 17px;
}

.bull{
    margin-left: -200px;
    width: 300px;
    margin-top: 70px;
}

.arte4,
.arte1{
    margin-left: -150px;
    border-radius: 15px;
    width: 200px;
    margin-top: 120px;
}

.arte4{
    margin-top: 79px;
}

.arte3,
.esporte,
.minhaFoto{
    margin: 20px;
    width: 250px;
    height: 280px;
    border-radius: 15px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
}

.esporte{
    width: 270px;
}

.arte3{
    margin-top: -10px;
    width: 212px;
    margin-left: 45px;
}

.familia{
    border-radius: 15px;
    width: 177px;
    margin-top: -20px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
}

.subirTopo {
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    /* z-index: 999; */
    display: none;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
    padding: 10px 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px !important;
}

@keyframes anima{
 0%{
    transform: scale(1);
 }
 100%{
    transform: scale(1.05);
 }
}

button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.juntarElemtos{
    margin-top: -40px;
    margin-left: -100px;
}

.trajetoria-esquerda-one{
    background-color: rgb(72, 4, 91);
    color: #fff;
    font-weight: 500;
}

.imagemPolicia{
    width: 125px;
    height: 240px;
    border-radius: 15px;
    margin-top: -90px;
    object-fit: cover;
}

.imagemGaucho{
    width: 221px;
    height: 263px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: -60px;
    margin-left: 23px;
}

.imagemMeninos{
    width: 221px;
    height: 263px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: -60px;

}

.flyer{
    border-radius: 15px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
    width: 200px;
}

.surpresa{
    display: none;
    /* display: flex; */
    align-items: flex-start;
    justify-content: center;
}

.raizen{
    width: 350px;
    border-radius: 15px;
    margin-right: 20px;
}

@media (max-width:990px) {
    body {
        overflow: auto;
    }
}